<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel = "stylesheet" href = "/css/divs.css">
    <link rel = "stylesheet" href = "/css/visita.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!--- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: --->
    <script>
      function deleteUser(id, row){
        if(confirm('Are you sure you want to remove this data?'))
        {
          $.ajax({
              url: "/doctor/removepaciente",
              type: "POST",
              data: 'id_persona='+id,
              success: function(data){
                $(row).closest("tr").remove();
                alert('Data removed')
              }
          });
        } else {
          alert('No data has been removed')
        }
        
      }

      function hidePop(){
        document.getElementById("pop").style.display = "none";
      }

      function openPop(telefono, direccion, parientes, fecha, edad){
        document.getElementById("pop").style.display = "block";
        document.getElementById("direccion").innerHTML = direccion;
        document.getElementById("telefono").innerHTML = telefono;
        document.getElementById("parentesco").innerHTML = parientes;
        document.getElementById("fecha").innerHTML = fecha;
        document.getElementById("edad").innerHTML = edad;
      }

      function findPaciente(){
        findPac(document.getElementById("paciente_id").value);
      }

      var openOrClose = 0;

      function openNav(){
        if(openOrClose == 0){
          document.getElementById("div-left-menu").style.width = "0%";
          document.getElementById("div-left-menu").style.display = "none";
          document.getElementById("div-right-content").style.width = "100%";
          document.getElementById("div-right-content").style.marginLeft = "0%";
          openOrClose = 1;
        } else {
          document.getElementById("div-left-menu").style.width = "20%";
          document.getElementById("div-left-menu").style.display = "block";
          document.getElementById("div-right-content").style.width = "80%";
          document.getElementById("div-right-content").style.marginLeft = "20%";
          openOrClose = 0;
        }

      function validateForm() {
        var x = document.forms["searchForm"]["paciente_id"].value;
        if (x == "") {
          alert("Name must be filled out");
          return false;
        }
      }
        
      }
    </script>
    <!--- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: --->
    <div class = "div-left-menu" id = "div-left-menu">
      <div class = "div-left-menu-header">
        <div class = "div-left-menu-header-info">
          <div class = "div-left-menu-header-top">
            ¡Bienvenido nuevamente!
          </div>
          <div class = "div-left-menu-header-bottom">
          </div>
          
        </div>
      </div>
      <div class = "div-left-menu-body">
        <ul>
          <li><a href = "/funcionario/panel"> <i class="fa fa-home"></i> Menu principal </a></li>
          <li><a href = "/funcionario/paciente"> <i class="fa fa-user-plus"></i> Agregar paciente </a></li>
          <li><a href = "/funcionario/doctor"> <i class="fa fa-user-md"></i> Agregar profesional </a></li>
          <li><a href = "/funcionario/verpaciente"> <i class="fa fa-user-md"></i> Ver pacientes </a></li>
          <li><a href = "/funcionario/mapa"> <i class="fa fa-user-md"></i> Mapa de pacientes </a></li>
        </ul>
      </div>
    </div>
    <div class = "div-right-content" id = "div-right-content">
      <button onclick = "openNav();" class = "btn" ><i class="fa fa-bars"></i></button>
      <div class = "div-table">
        
        <form name = "searchForm" method = "POST" action = "/doctor/paciente" onsubmit="return validateForm()" required>
          <input type = "text" placeholder = "Buscar por identificacion del paciente" name = "paciente_id">
          <input type = "submit" class = "button" value = "Buscar por paciente">
          <input type = "submit" class = "button" value = "Buscar por doctor" formaction = "/doctor/visitas" formmethod="GET">
        </form>
        
        <table>
          <tr>
            <th> ID del Paciente </th>
            <th> Tipo de identificacion </th>
            <th> Nombre paciente </th>
            <th> Doctor a cargo </th>
            <th> Mas detalles </th>
          </tr>
          {{#each datos.paciente }}
          <tr style = "text-align: center;">
            <td>{{ id_paciente }} </td>
            <td>{{ tipo_id }} </td>
            <td>{{ nombre_paciente }} </td>
            <td>{{ nombre_doctor }} </td>
            <td><i style = "color: DodgerBlue; cursor: pointer;" class = "fa fa-search-plus" onclick = "openPop('{{ telefonos_emergencias }}', '{{ direccion_residencia }}', '{{ n_parentesco }}', '{{ fecha_registro }}', '{{ edad_paciente }}')"></i>
                <i style = "color: red; cursor: pointer;" class = "fa fa-user-times" onclick = "deleteUser('{{ id_paciente }}', this)"></i></td>
          </tr>
          {{/each}}
        </table>
      </div>

      <div class = "div-overlay-background" id = "pop" style = "display: none;">  
        <div class = "div-overlay-content">
          <h1>Detalles del paciente</h1>
          <p><b> Edad del paciente </b>
          <span id = "edad"> direccion </span></p>

          <p><b> Direccion de residencia </b>
          <span id = "direccion"> direccion </span></p>
          
          <p><b> Telefonos de emergencia </b>
          <span id = "telefono"> telefono </span></p>
          
          <p><b>Nombre y parentesco </b>
          <span id = "parentesco"> parentesco </span></p>

          <p><b> Fecha de registro </b>
          <span id = "fecha"> parentesco </span></p>


          <button onclick = "hidePop();" class = "button"> Cerrar detalles </button>
        </div>
      </div>
    </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
  </body>
</html>